/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--clr-body: hsl(233, 47%, 7%);
--clr-card: hsl(244, 38%, 16%);
--clr-span: hsl(277, 64%, 61%);

--clr-header-paragraph: hsla(0, 0%, 100%, 0.75);
--clr-info: hsla(0, 0%, 100%, 0.6);
}

body{
    background-color: var(--clr-body);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(110vh - 1px); 
}


ul[class]{
    list-style: none;
}

/* ============================================================================================================== */

/* Desktop*/

.container{
    display: flex;
    flex-direction: row;  
}

.mobile-img{
    display: none;
}
.desktop-img{
    border-radius: 0 .5rem .5rem 0; 
    background-color: rgb(158, 12, 248);
    opacity: .6;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 25rem;
    padding: 5rem;
    border-radius: .5rem 0 0 .5rem;
    background-color: var(--clr-card);
}


header h1{
    color: white;
    font-size: 2.3rem;
    margin-bottom: 2rem;
}
header span{
    color: var(--clr-span);
}
header p{
    color: var(--clr-header-paragraph);
    line-height: 1.75;
}


.numbers{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 22rem;
}
.numbers .number{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}
.numbers .info{
    color: var(--clr-info);
    font-size: .75rem;
    letter-spacing: 1px;
    margin-top: .625rem;
}

/* ============================================================================================================== */

/* "Mobile"*/

@media (max-width: 70.5rem /*1128px*/){
    .container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .desktop-img{
        display: none;
    }
    .mobile-img{
        display: block;
        border-radius: .5rem .5rem 0 0;
        width: 27rem;  /* 432px */
        opacity: 0.6;
        background-color: rgb(158, 12, 248);
    }

    .card{
        border-radius: 0 0 .5rem .5rem ;
        padding: 1rem; 
    }

    header{
        margin-top: 1.875rem; /* 30px */
        margin-left: auto;
        margin-right: auto;
    }
    header h1{
        text-align: center;
        text-indent: 1rem;
        max-width: 22rem;
    }
    header p{
        margin: 0 auto;
        text-align: center;
        max-width: 18rem;
    }

    .numbers{
        flex-direction: column;
        align-self: center;
        text-align: center;
    }
    .numbers .info{
        margin-bottom: 1.8rem;
    }
}


@media (max-width: 29.5625rem /* 473px */){
    .mobile-img{
        width: 21rem; /* 336px */
    }

    .card{
        max-width: 19rem;
        border-radius: 0 0 .5rem .5rem ;
        padding: 1rem;  
    }

    header h1{
      font-size: 1.625rem;
      width: 18rem;
    }
}